@import "/src/settings.scss";
@import "/src/base.scss";

.btn {
  cursor: pointer;
  border: 1px solid #73AFFF;
  box-sizing: border-box;
  background-color: transparent;
  

  @include desktop {
    padding: widthD(5) widthD(15);
  }

  @include mobile {
    padding: widthM(5) widthM(15);
  }

  &:hover {
    background-color: #5ca2ff;
    transition: .8s;
  }

  &:not(:hover) {
    transition: .8s;
  }

  &[disabled] {
    background-color: #90bffc;
    color: #ccc;
  }

  &.active{
    background-color: #368af8;
    
    &:hover {
      background-color: red;
    }
  }
}



.text-in-btn {
  font-family: monospace,sans-serif;
  color: teal;
  user-select: none;
  
  @include desktop {
    font-size: widthD(12);
  }

  @include mobile {
    font-size: widthM(6);
  }
}