@import "/src/settings.scss";
@import "/src/base.scss";

.select-wrap {
  position: relative;
  display: flex;
  justify-content: right;
}

.select {
  background: #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;

  @include desktop {
    width: widthD(125);
    padding: widthD(5) widthD(8);
    border-radius: widthD(6);
  }

  @include mobile {
    width: widthM(75);
    padding: widthM(4) widthM(6);
    border-radius: widthM(6);
  }
}

.header {
  font-family: monospace,sans-serif;
}

.element{
  font-family: monospace,sans-serif;
  color: black;
  user-select: none;
}


.select-list {
  background: #ccc;
  position: absolute;
  top: 35px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;

  @include desktop {
    width: widthD(300);
    border-radius: widthD(6);
  }

  @include mobile {
    width: widthM(300);
    border-radius: widthM(6);
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    & li:last-child {
      border-bottom: none;
    }
  }
  
  & li {
    border-bottom: 1px solid #bbb;
  }
  
  & li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
  }
}


