@import "/src/settings.scss";
@import "/src/base.scss";

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: #ccc;
  margin-bottom: 15px;
}

.navbar-links {
  & a:first-child {
    margin-right: 5px;
  }
}